@font-face {
  font-family: 'Clear Sans';
  font-style: normal;
  font-weight: normal;
  src: local('Clear Sans'), url(clearsans-regular.woff) format('woff');
}

@font-face {
  font-family: 'Clear Sans';
  font-style: italic;
  font-weight: normal;
  src: local('Clear Sans'), url(clearsans-italic.woff) format('woff');
}

@font-face {
  font-family: 'Clear Sans';
  font-style: normal;
  font-weight: bold;
  src: local('Clear Sans'), url(clearsans-bold.woff) format('woff');
}

@font-face {
  font-family: 'Clear Sans';
  font-style: italic;
  font-weight: bold;
  src: local('Clear Sans'), url(clearsans-bolditalic.woff) format('woff');
}

@font-face {
  font-family: 'Clear Sans';
  font-style: normal;
  font-weight: 100;
  src: local('Clear Sans'), url(clearsans-thin.woff) format('woff');
}

@font-face {
  font-family: 'Source Code Pro';
  font-style: normal;
  font-weight: normal;
  src: local('Source Code Pro'), url(sourcecodepro-regular.woff) format('woff');
}

@font-face {
  font-family: 'Source Code Pro';
  font-style: normal;
  font-weight: bold;
  src: local('Source Code Pro'), url(sourcecodepro-bold.woff) format('woff');
}

body {
  border-top: .5em solid #ececec;
  color: #333;
  font-family: 'Clear Sans';
  margin: 0;
  max-width: 40em;
  padding: 1em 10%;
}

body > h1 {
  font-size: 3em;
  font-weight: 100;
}

a {
  color: #cb4b16;
  text-decoration: none;
}

a:hover {
  color: inherit;
}

img {
  max-width: 100%
}

code,
pre {
  font-family: 'Source Code Pro';
  font-size: 1em;
}

pre {
  border-left: .5em solid #ececec;
  font-size: .875em;
  padding-left: .5em;
}

pre,
table {
  overflow-x: auto;
}

table {
  display: block;
  border-spacing: 1em .25em;
}

th {
  font-weight: 100;
}

figure {
  margin: 0;
}

table caption,
figure figcaption {
  font-weight: 100;
}

section ol {
  list-style: none;
  padding: 0;
}

section ol li {
  margin-bottom: 1em;
}

article ul,
article ol {
  padding: 0;
}

.byline {
  font-style: italic;
}

footer {
  font-size: .875em;
  font-weight: 100;
  margin: 2em 0;
}
