@font-face {
  font-family: 'Clear Sans';
  font-style: normal;
  font-weight: normal;
  src: local('Clear Sans'), url(clearsans-regular.woff) format('woff');
}

@font-face {
  font-family: 'Clear Sans';
  font-style: italic;
  font-weight: normal;
  src: local('Clear Sans'), url(clearsans-italic.woff) format('woff');
}

@font-face {
  font-family: 'Clear Sans';
  font-style: normal;
  font-weight: bold;
  src: local('Clear Sans'), url(clearsans-bold.woff) format('woff');
}

@font-face {
  font-family: 'Clear Sans';
  font-style: italic;
  font-weight: bold;
  src: local('Clear Sans'), url(clearsans-bolditalic.woff) format('woff');
}

@font-face {
  font-family: 'Clear Sans';
  font-style: normal;
  font-weight: 100;
  src: local('Clear Sans'), url(clearsans-thin.woff) format('woff');
}

@font-face {
  font-family: 'Source Code Pro';
  font-style: normal;
  font-weight: normal;
  src: local('Source Code Pro'), url(sourcecodepro-regular.woff) format('woff');
}

@font-face {
  font-family: 'Source Code Pro';
  font-style: normal;
  font-weight: bold;
  src: local('Source Code Pro'), url(sourcecodepro-bold.woff) format('woff');
}

body {
  font-family: 'Clear Sans';
  max-width: 40em;
}

body > h1 {
  font-size: 3em;
  font-weight: 100;
}

a {
  color: #cb4b16;
  text-decoration: none;
}

a:hover {
  color: inherit;
}

code {
  font-family: 'Source Code Pro';
}

pre {
  font-size: 1.35em;
}

section ol {
  list-style: none;
  padding: 0;
}

section ol li {
  margin-bottom: 1em;
}

.byline {
  font-style: italic;
}
