<!doctype html>
<html>
  <head>
    <title>{{site_title}} &mdash; Journal</title>
  </head>
  <body>

    <h1>
      <a href="/">{{site_title}}</a>
    </h1>

    <section>
      <header>
        <h1>Journal</h1>
      </header>

      @@BODY@@
    </section>

    <footer>
      Read <a href=https://github.com/uggedal/uggedal.com>the source</a>.
    </footer>

  </body>
</html>
