<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">

    {% block title %}
    <title>Eivind Uggedal</title>
    {% endblock title %}

    <link href=/static/normalize.css rel="stylesheet">
    <link href=/static/uggedal.css rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Alegreya:400italic,700italic,400,700|Alegreya+SC:400,700|PT+Mono" rel="stylesheet">

    {% block head %}
    {% endblock head %}
  </head>
  <body>
    <div id=wrap>
      <nav id=elsewhere>
        <a href=http://twitter.com/uggedal>Twitter</a>
        <a href=http://alpha.app.net/uggedal>App.net</a>
        <a href=http://github.com/uggedal>Github</a>
        <a href=http://pinboard.in/u:uggedal>Pinboard</a>
      </nav>
      {% block h1 %}
      <h1>
        <a href="{{ url_for("index") }}">Eivind Uggedal</a>
      </h1>
      {% endblock h1 %}

      {% block content %}
      {% endblock content %}

      <footer>
        Read <a href=http://github.com/uggedal/uggedal.com>the source</a>.
        You might learn something. Or not.
      </footer>
    </div>

    <script src=/static/uggedal.js></script>
  </body>
</html>
