{% extends "base.html" %}

{% block h1 %}
<h1>
  Eivind Uggedal
</h1>
{% endblock h1 %}

{% block content %}
<section id=about>
  I'm a programmer at <a href=http://bekk.no><abbr>bekk</abbr></a>.
  I share <a href=#selected-projects>open source code</a> written in my pastime.
  I created <a href=http://mediaqueri.es>mediaqueri.es</a>, <em>the</em>
  collection of responsively designed web sites.
  Previously I ran <a href=http://wasitup.com>wasitup.com</a>,
  a free <abbr>http</abbr> monitor doing 4.5 million outgoing requests each
  day.
  You can contact me at
  <a href=mailto:eivind@uggedal.com>eivind@uggedal.com</a>.
</section>

<section id="latest-entries">
  <h2>Latest Journal Entries</h2>
  {% include "_articles.html" %}
  <p class=more>
    <a href="{{ url_for("journal") }}">All entries</a>
  </p>
</section>

<section id="selected-projects">
  <h2>Selected open source projects</h2>
  <dl>
    <dt>
    <a href=http://uggedal.github.com/going>Going</a>
    </dt>
    <dd>
    Simple process supervisor written in <em>C</em>
    </dd>
    <dt>
    <a href=https://github.com/uggedal/states>Salt States</a>
    </dt>
    <dd>
    Management of several servers, a Macbook Air, and a Raspberry PI
    written in <em>Python</em>, <em>YAML</em>, and <em>Jinja2</em>
    </dd>
    <dt>
    <a href=https://github.com/uggedal/tokyo-tyrant-sets>Tokyo Tyrant Sets</a>
    </dt>
    <dd>
    Set support for Tokyo Tyrant written in <em>Lua</em>
    </dd>
    <dt>
    <a href=https://github.com/uggedal/reprise>Reprise</a>
    </dt>
    <dd>
    A tiny static blog generator available both in <em>Ruby</em>
    and <em>Python</em>.
    </dd>
  </dl>
  <p class=more>
    <a href=http://github.com/uggedal>All open source projects</a>
  </p>
</section>
{% endblock content %}
