{% extends "base.html" %}

{% block h1 %}
<h1>
  Eivind Uggedal
</h1>
{% endblock h1 %}

{% block content %}
<h2>Latest Journal Entries</h2>
{% include "_articles.html" %}
<p>
  <a href="{{ url_for("journal") }}">All entries</a>
</p>

<h2>Selected open source projects</h2>
<dl>
  <dt>
    <a href=http://uggedal.github.com/going>Going</a>
  </dt>
  <dd>
    Simple process supervisor written in <em>C</em>
  </dd>
  <dt>
    <a href=https://github.com/uggedal/states>Salt States</a>
  </dt>
  <dd>
    Management of several servers, a Macbook Air, and a Raspberry PI
    written in <em>Python</em>, <em>YAML</em>, and <em>Jinja2</em>
  </dd>
  <dt>
    <a href=https://github.com/uggedal/tokyo-tyrant-sets>Tokyo Tyrant Sets</a>
  </dt>
  <dd>
    Set support for Tokyo Tyrant written in <em>Lua</em>
  </dd>
</dl>
<p>
  <a href=http://github.com/uggedal>All open source projects</a>
</p>
{% endblock content %}
